// MAIN COLORS
$back-color: #121212;
$accent-color: #abe647;
$action-color: #70992a;
$mobile-nav-back: #303030;

// FONT COLORS
$base-font-color: #ffffff;
$dark-font-color: #303030;
$form-control-font: #626262;
$news-date-font: #dbdbdb;
$subtitle-font: #333333;

// Error colors
$form-control-error: #e52626;
$help-block-error: #e02626;

// Valid colors
$form-control-valid: #70992a;
