footer.footer
    .container
        .row
            .footer__wrap
                .col-xs-12.col-sm-4.footer__left-side
                    .footer__subtitle мы в соц. сетях
                    ul.footer__socials-list
                        li.footer__socials-item
                            a(href="#" rel="nofollow" target="_blank").footer__socials-link
                                i.fab.fa-facebook-f
                        li.footer__socials-item
                            a(href="#" rel="nofollow" target="_blank").footer__socials-link
                                i.fab.fa-vk
                        li.footer__socials-item
                            a(href="#" rel="nofollow" target="_blank").footer__socials-link
                                i.fab.fa-instagram
                        li.footer__socials-item
                            a(href="#" rel="nofollow" target="_blank").footer__socials-link
                                i.fab.fa-youtube
                        li.footer__socials-item
                            a(href="#" rel="nofollow" target="_blank").footer__socials-link
                                i.fab.fa-twitter
                    .footer__subtitle приложение "smile expo events"
                    .btn-wrap
                        a(data-description="APPSTORE").btn-empty-light
                            i.fab.fa-apple
                        a(data-description="GOOGLE PLAY").btn-empty-light
                            i.fab.fa-google-play
                .footer__copyright © 2019 «Smile Expo»
                .col-xs-12.col-sm-4.footer__center
                    .footer__title Oрганизатор:
                    a(href="#" rel="nofollow" target="_blank").smile-logo
                        img(src="/images/smile-logo.png" alt="")
                .col-xs-12.col-sm-4.col-lg-3.col-lg-offset-1.footer__right-side
                    a(href="#").footer__logo
                        img(src="/images/footer-logo.png" alt="")
                    .footer__privacy
                        a(href="#").footer__privacy-link Публичная оферта
                        a(href="#").footer__privacy-link Политика безопасности
                        a(href="#").footer__privacy-link Руководство участника
                        a(href="#").footer__privacy-link Положение об аккредитации
                        
