//- Default button
mixin cooperation(title, btntext)
    .cooperation__item
        .cooperation__title #{title}
        .cooperation__desc Расскажем о вашем бренде партнёрам, инвесторам и СМИ, поможем повысить лояльность и увеличить поток клиентов.
        .cooperation__btn-wrap
            a(data-description="" + btntext).btn-dark.btn-shadow
