mixin subscribe
    section.subscribe
        h3.section__title подписаться новости
        .container
            .row
                form(id="" class="" action="" method="post").subscribe-form
                    .col-sm-5.col-sm-offset-1.col-md-4.col-md-offset-2.col-lg-3.col-lg-offset-3
                        .form-group.field-newssubscribe-name.required
                            input(type="text" id="" name="" placeholder="Имя*" aria-required="true" aria-invalid="true").form-control
                            p.help-block.help-block-error
                    .col-sm-5.col-md-4.col-lg-3
                        .form-group.field-newssubscribe-email.required
                            input(type="email" id="" name="" placeholder="E-mail*" aria-required="true" aria-invalid="true").form-control
                            p.help-block.help-block-error
                    .clearfix
                    .subscribe__checkbox-wrp
                        .form-group.field-newssubscribe-confirmppd.required.checkbox
                            label
                                input(type="checkbox" id="" name="" value="1")
                                span.controller
                                | Я даю согласие на обработку своих персональных данных в соответствии с политикой конфиденциальности, доступной 
                                a(href="" rel="nofollow").offerta здесь
                            p.help-block.help-block-error
                    .clearfix
                    .subscribe__btn-wrap
                        a(data-description="отправить").btn-default
