extends ../templates/main

//- Connecting mixins for this page
include ../mixins/subscribe
include ../mixins/newslist
include ../mixins/sponsors
include ../mixins/partners
include ../mixins/cooperation
include ../mixins/ticket
include ../mixins/contacts

//- VARIABLES TO INSERT THEM INTO THE TEMPLATE USED ON THE PAGE
block variables
    -var title = 'Главная старица'
    -var description = 'Описание страницы'
    -var keywords = 'Ключи для стараницы'
    -var thisPage = 'page-main'

block content
    section.first-screen
        .container
            .col-md-7.first-screen__wrap
                h1.first-screen__title 3D Print Expo 2019
                h2.first-screen__subtitle Выставка передовых технологий 3D-печати и сканирования
                .first-screen__date 4-5 октября, Москва
                .first-screen__location КВЦ "Сокольники",5-й Лучевой просек, 7, стр. 1, павильон 2
                .first-screen__btn-wrap
                    a(data-description="купить билет").btn-default
                    a(data-description="аккредитация").btn-empty
                .first-screen__btn-play
                    i.fas.fa-play
    section.info
        span.link-target#exposition
        .container
            .row
                .col-sm-6
                    h3.info__title Выставка
                    p.info__desc Крупнейшая в Восточной Европе выставка передовых технологий 3D-печати и сканирования – 3D Print Expo. Здесь каждый сможет узнать, что такое аддитивные технологии, посмотреть, как работают и где используются 3D-печатные принтеры и сканеры в современном мире, а также узнать о последних достижениях в области 3D-печати.
                    p.info__desc.accent Вас ждёт встреча с главными компаниями индустрии, гигантами трёхмерных технологий, которые определяют завтрашнее состояние этого рынка.
                    .info__btn-wrp
                        a(data-description="участники").btn-empty
                .col-sm-6
                    img(src="/images/exposition.png" alt="Выставка").info__pic
    section.info.light-back
        .container
            .row
                .col-sm-6
                    img(src="/images/lekory.png" alt="Лекорий").info__pic
                .col-sm-6.col-lg-offset-1.col-lg-5.info__left-indent
                    h3.info__title лекорий
                    p.info__desc Лекторий 3D Print Expo 2019 соберет лучших специалистов индустрии, которые представят актуальные и успешные кейсы, расскажут о достижениях и прорывах этого года, обсудят тенденции и стратегии, охватывающие самые различные сферы применения 3D-технологий.
                    .info__btn-wrp
                        a(data-description="программа").btn-empty
    section.info
        .container
            .row
                .col-sm-6
                    h3.info__title Мастер-классы
                    p.info__desc Захватывающие мастер-классы для детей и взрослых дадут возможность расширить круг интересов и насладиться увлекательным процессом.
                    .info__btn-wrp
                        a(data-description="программа").btn-empty
                .col-sm-6
                    img(src="/images/master.jpg" alt="Мастер-классы").info__pic
    section.info.light-back
        .container
            .row
                .col-sm-6
                    img(src="/images/awwards.jpg" alt="Шоу-программа").info__pic
                .col-sm-6.col-lg-offset-1.col-lg-5.info__left-indent
                    h3.info__title Шоу-программа
                    p.info__desc Розыгрыши ценных призов, презентация новой продукции и конкурсы от участников, награждение победителей 3D Print Awards – на сцене мероприятия вы увидите много интересных активностей.
                    .info__btn-wrp
                        a(data-description="программа").btn-empty
    section.ticket
        h3.section__title купить билет
        .container
            .row.ticket__wrap
                .col-sm-6.col-md-3
                    +ticket('Студенческий билет', 
                            '999', 
                            ['Сonsectetur adipiscing elit',
                            'Duis aute irure dolor',
                            'Excepteur sint occaecat',
                            'Totam rem aperiam'])
                .col-sm-6.col-md-3
                    +ticket('Билет на выставку', 
                            '3999', 
                            ['Сonsectetur adipiscing elit',
                            'Duis aute irure dolor',
                            'Excepteur sint occaecat',
                            'Totam rem aperiam',
                            'Sed ut perspiciatis',
                            'Neque porro quisquam'])
                .col-sm-6.col-md-3
                    +ticket('Билет на мастер-класс', 
                            '7999', 
                            ['Сonsectetur adipiscing elit',
                            'Duis aute irure dolor',
                            'Excepteur sint occaecat',
                            'Totam rem aperiam',
                            'Sed ut perspiciatis',
                            'Neque porro quisquam',
                            'Dolorem ipsum quia dolor',
                            'Nemo enim ipsam',
                            'Ut enim ad'])
                .col-sm-6.col-md-3
                    +ticket-sale('июньская скидка', 
                            '33999', 
                            ['Сonsectetur adipiscing elit',
                            'Duis aute irure dolor',
                            'Excepteur sint occaecat',
                            'Totam rem aperiam',
                            'Sed ut perspiciatis',
                            'Neque porro quisquam',
                            'Dolorem ipsum quia dolor'])
    section.cooperation.light-back
        h3.section__title сотрудничество
        .container
            .row.cooperation__wrap
                .col-sm-4
                    +cooperation('спонсору', 'стать спонсором')
                .col-sm-4
                    +cooperation('партнеру', 'стать партнером')
                .col-sm-4
                    +cooperation('участнику', 'стать участником')
    .logotypes
        +sponsors(['Генеральный спонсор пакетов',
                   'Официальный спонсор',
                   'Платиновый спонсор',
                   'Гениральный медиа-спонсор',
                   'Гениральный медиа-спонсор',
                   'Официальный спонсор'])
        +partners
    +newslist(['nl1.jpg','nl2.jpg','nl3.jpg'],
              ['24.05.2019','24.05.2019','24.05.2019'],
              ['Как разбогатеть внедряя в бизнес искусственный интеллект в бизнес',
                'Как разбогатеть внедряя в бизнес искусственный интеллект в бизнес искусственный',
                'Как разбогатеть внедряя в бизнес искусственный интеллект в бизнес искусственн интеллект и'])
    +subscribe
    section.contacts.light-back
        span.link-target#contacts
        h3.section__title контакты
        .container
            .row.contacts__wrap
                .col-sm-6.col-md-3
                    +contacts('александр архангельский',
                              'руководитель проекта',
                              '+7 (495) 123-45-67 (доб. 890)',
                              'example@company.com',
                              'live:example')
                .col-sm-6.col-md-3
                    +contacts('екатерина смирнова',
                              'куратор конференции',
                              '+7 (495) 123-45-67 (доб. 890)',
                              'example@company.com',
                              'live:example')
                .col-sm-6.col-md-3
                    +contacts('александр архангельский',
                              'pr-менеджер',
                              '+7 (495) 123-45-67 (доб. 890)',
                              'example@company.com',
                              'live:example')
                .col-sm-6.col-md-3
                    +contacts('екатерина смирнова',
                              'посетителям',
                              '+7 (495) 123-45-67 (доб. 890)',
                              'example@company.com',
                              'live:example')
    section.location
        img(src="/images/map-stub.jpg" alt="КВЦ Сокольники").location__stub
        .container
            .row
                .col-sm-4.col-sm-offset-8.col-lg-offset-0
                    .location__desc
                        h3.location__title Москва
                        .location__addres 
                            p КВЦ "Сокольники", 
                            p 5-й Лучевой просек, 7, 
                            p стр. 1, павильон 2
                        img(src="/images/location-sponsor.jpg" alt="").location__sponsor
        .location__btn-wrap
            a(data-description="подробнее").btn-dark.btn-shadow
